/* Place CSS styles here */
body {
  background-color: #40e0d0;
  color: #171719;
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

/* this means the same this as the above code */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
} */

p {
  font-size: 18px;
}

.featured-purple-bear h1 {
  font-size: 70px;
  text-align: center;
}

.featured-purple-bear a {
  font-size: 20px;
  color: #0d0d97;
  text-decoration: none;
}

.featured-purple-bear a:hover {
  text-decoration: underline;
}

.purple-bear-wrapper {
  background-color: lightgreen;
}

.purple-bear-item {
  background-color: #e6e6fa;
}

.purple-bear-item p {
  color: #ffff00;
}

h1 {
  color: red;
}

.purple-bear-wrapper h1 {
  color: #00c200;
}